## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Kuandian,CN,83.28,overcast clouds,40.7286,124.7847,Hi Inn Dandong Kuandian Ji Xian Garden
1,17,Paungde,MM,82.26,overcast clouds,18.4833,95.5000,Shwe Eain Matt highly cool guest house
2,26,Montpellier,FR,75.88,overcast clouds,43.6109,3.8772,Le Jardin Des Sens
3,27,Daru,PG,79.72,overcast clouds,-9.0763,143.2092,Daru Lodge
4,37,Marsh Harbour,BS,82.87,overcast clouds,26.5412,-77.0636,Abaco Beach Resort

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} & {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Springdale")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Springdale")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Roswell")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Harrison")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Morgan City")]

In [37]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
end = vacation_end.to_numpy()
stop1 = vacation_stop1.to_numpy()
stop2 = vacation_stop2.to_numpy()
stop3 = vacation_stop3.to_numpy()
start

array([[51, 'Springdale', 'US', 84.33, 'clear sky', 36.1867, -94.1288,
        'Springdale Inn']], dtype=object)

In [38]:
import gmaps.datasets

# Latitude-longitude pairs
start_loc = (36.2867, -94.1288)
stop1_loc = (34.0232, -84.3616)
stop2_loc = (30.4091, -89.0436)
stop3_loc = (29.6994, -91.2068)
end_loc = (36.2867, -94.1288)

In [39]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
citiestrip = gmaps.directions_layer(start_loc,end_loc,
waypoints=[stop1_loc,stop2_loc,stop3_loc],
travel_mode='DRIVING')
fig.add_layer(citiestrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,51,Springdale,US,84.33,clear sky,36.1867,-94.1288,Springdale Inn
1,244,Roswell,US,79.86,clear sky,34.0232,-84.3616,La Quinta Inn & Suites by Wyndham Atlanta Roswell
2,97,Harrison,US,86.05,few clouds,30.4091,-89.0436,Residence Inn by Marriott Gulfport-Biloxi Airport
3,284,Morgan City,US,84.04,few clouds,29.6994,-91.2068,Hampton Inn & Suites Morgan City
4,51,Springdale,US,84.33,clear sky,36.1867,-94.1288,Springdale Inn

In [67]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<div>
<dt><strong>Hotel Name</strong></dt><dd>{Hotel Name}</p></dd>
<dt><strong>City</strong></dt><dd>{City}</dd>
<dt><strong>Country</strong></dt><dd>{Country}</dd>
<dt><strong>Weather Description</strong></dt><dd>{Current Description} & {Max Temp} Â°F</dd>
</div>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [68]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))